<nav mat-tab-nav-bar class="import-nav">
  <a mat-tab-link  (click)="showDragDrop()">
    <mat-icon matTooltip="Import CSV">cloud_download</mat-icon> Import CSV or XML or Qr Code File
  </a>
  <a mat-tab-link (click)="showQrReader()">
    <mat-icon matTooltip="Import QR Code">cloud_download</mat-icon> Import QR Code By Camera
  </a>
</nav>

<app-file-imporer *ngIf="showDragDropForm" (close)="hideFileImporter()" (businessCard)="saveBusinessCardByFile($event)"></app-file-imporer>
 
<app-qr-code-imporer *ngIf="showQrCodeForm"  (close)="hideQrCodeImporter()" (scanned)="saveBusinessCardByQrCode($event)"></app-qr-code-imporer>

<div class="form-container" *ngIf="!isFormSubmitted">
  <form [formGroup]="businessCardForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" [attr.required]="true">
    </mat-form-field>
    <div *ngIf="businessCardForm.get('name')?.invalid && (businessCardForm.get('name')?.touched || businessCardForm.get('name')?.dirty)" class="error red-text">
      Name is required.
    </div>
    <div *ngIf="businessCardForm.get('name')?.hasError('maxlength') && (businessCardForm.get('name')?.touched || businessCardForm.get('name')?.dirty)" class="error red-text">
      Name cannot exceed 100 characters.
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender" [attr.required]="true">
        <mat-option *ngFor="let gender of genders let i = index" [value]="i+1">{{ gender }}</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="businessCardForm.get('gender')?.invalid && (businessCardForm.get('gender')?.touched || businessCardForm.get('gender')?.dirty)" class="error red-text">
      Gender is required.
    </div>
    <div *ngIf="businessCardForm.get('gender')?.hasError('genderInvalid') && (businessCardForm.get('gender')?.touched || businessCardForm.get('gender')?.dirty)" class="error red-text">
      Invalid gender selection.
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Date of Birth</mat-label>
      <input matInput formControlName="dateOfBirth" [matDatepicker]="picker" [attr.required]="true">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div *ngIf="businessCardForm.get('dateOfBirth')?.invalid && (businessCardForm.get('dateOfBirth')?.touched || businessCardForm.get('dateOfBirth')?.dirty)" class="error red-text">
      Date of birth is required.
    </div>
    <div *ngIf="businessCardForm.get('dateOfBirth')?.hasError('dateOfBirthInvalid') && (businessCardForm.get('dateOfBirth')?.touched || businessCardForm.get('dateOfBirth')?.dirty)" class="error red-text">
      Date of birth cannot be in the future.
    </div>
    <div *ngIf="businessCardForm.get('dateOfBirth')?.hasError('ageExceedsLimit') && (businessCardForm.get('dateOfBirth')?.touched || businessCardForm.get('dateOfBirth')?.dirty)" class="error red-text">
      Age cannot exceed 120 years.
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email" [attr.required]="true">
    </mat-form-field>
    <div *ngIf="businessCardForm.get('email')?.invalid && (businessCardForm.get('email')?.touched || businessCardForm.get('email')?.dirty)" class="error red-text">
      Email is required.
    </div>
    <div *ngIf="businessCardForm.get('email')?.hasError('email') && (businessCardForm.get('email')?.touched || businessCardForm.get('email')?.dirty)" class="error red-text">
      Invalid email format.
    </div>

    <mat-form-field appearance="fill">
      <mat-label>Phone</mat-label>
      <input  phoneInvalidValidation matInput formControlName="phone" [attr.required]="true">
    </mat-form-field>
    <div *ngIf="businessCardForm.get('phone')?.invalid && (businessCardForm.get('phone')?.touched || businessCardForm.get('phone')?.dirty)" class="error red-text">
      Phone number is required.
    </div>
    <div *ngIf="businessCardForm.get('phone')?.hasError('phoneInvalid') && (businessCardForm.get('phone')?.touched || businessCardForm.get('phone')?.dirty)" class="error red-text">
      Invalid phone number format.
    </div>

    <div formGroupName="address" class="address-fields">
      <mat-form-field appearance="fill">
        <mat-label>Street</mat-label>
        <input matInput formControlName="street">
      </mat-form-field>
      <div *ngIf="businessCardForm.get('address.street')?.hasError('streetLength') && (businessCardForm.get('address.street')?.touched || businessCardForm.get('address.street')?.dirty)" class="error red-text">
        Street cannot exceed 100 characters.
      </div>

      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input matInput formControlName="city">
      </mat-form-field>
      <div *ngIf="businessCardForm.get('address.city')?.hasError('cityLength') && (businessCardForm.get('address.city')?.touched || businessCardForm.get('address.city')?.dirty)" class="error red-text">
        City cannot exceed 50 characters.
      </div>

      <mat-form-field appearance="fill">
        <mat-label>State</mat-label>
        <input matInput formControlName="state">
      </mat-form-field>
      <div *ngIf="businessCardForm.get('address.state')?.hasError('stateLength') && (businessCardForm.get('address.state')?.touched || businessCardForm.get('address.state')?.dirty)" class="error red-text">
        State cannot exceed 50 characters.
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Zip Code</mat-label>
        <input matInput formControlName="zipCode">
      </mat-form-field>
      <div *ngIf="businessCardForm.get('address.zipCode')?.hasError('zipCodeFormat') && (businessCardForm.get('address.zipCode')?.touched || businessCardForm.get('address.zipCode')?.dirty)" class="error red-text">
        Invalid postal code format.
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Country</mat-label>
        <input matInput formControlName="country">
      </mat-form-field>
      <div *ngIf="businessCardForm.get('address.country')?.hasError('countryLength') && (businessCardForm.get('address.country')?.touched || businessCardForm.get('address.country')?.dirty)" class="error red-text">
        Country cannot exceed 50 characters.
      </div>
    </div>

    <div class="photo-upload">
      <label for="photo">Photo</label>
      <input id="photo" type="file" accept="image/*" (change)="onFileSelected($event)">
      <div *ngIf="businessCardForm.get('photo')?.value">
        Selected file: {{ businessCardForm.get('photo')?.value?.name }}
      </div>
      <div *ngIf="businessCardForm.get('photo')?.hasError('required') && (businessCardForm.get('photo')?.touched || businessCardForm.get('photo')?.dirty)" class="error red-text">
        The Photo is required.
      </div>
      <div *ngIf="businessCardForm.get('photo')?.hasError('photoInvalid') && (businessCardForm.get('photo')?.touched || businessCardForm.get('photo')?.dirty)" class="error red-text">
        The provided string is not a valid base64 string.
      </div>
      <div *ngIf="businessCardForm.get('photo')?.hasError('photoSizeInvalid') && (businessCardForm.get('photo')?.touched || businessCardForm.get('photo')?.dirty)" class="error red-text">
        Image file size must be less than 1 MB.
      </div>
    </div>

    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
</div>



<div *ngIf="previewData" class="preview-section">
  <h3>Preview:</h3>
  <img *ngIf="previewData.photo" [src]="previewData.photo" alt="Business Card Photo" class="preview-image">
  <p><strong>Name:</strong> {{ previewData.name }}</p>
  <p><strong>Gender:</strong> {{ previewData.gender }}</p>
  <p><strong>Date of Birth:</strong> {{ previewData.dateofBirth | date }} </p>
  <p><strong>Email:</strong> {{ previewData.email }}</p>
  <p><strong>Phone:</strong> {{ previewData.phone }}</p>
  <p *ngIf="previewData.address">
    <strong>Address:</strong>
    {{ previewData.address.street }}, {{ previewData.address.city }},
    {{ previewData.address.state }}, {{ previewData.address.zipCode }},
    {{ previewData.address.country }}
  </p>
  <button mat-raised-button color="primary" (click)="onSave()">Save</button>
  <button mat-raised-button (click)="onBack()">Back</button>
</div>