<div class="business-cards-container">
  <div class="header-container">
    <h1>Business Cards Management</h1>
   
  </div>
  
  <form [formGroup]="filterForm" (ngSubmit)="applyFilter()" class="filter-form">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" placeholder="Name">
    </mat-form-field>

    <!-- <mat-form-field appearance="outline">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender">
        <option [value]="''">Select Gender</option>
        <mat-option  *ngFor="let gender of genderOptions" [value]="gender">{{gender}}</mat-option>
      </mat-select>
    </mat-form-field> -->
    <mat-form-field appearance="outline">
      <mat-label>Gender</mat-label>
      <mat-select formControlName="gender">
        <mat-option  *ngFor="let gender of genderOptions" [value]="gender">{{gender}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Date of Birth</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="dateOfBirth" readonly (click)="picker.open()">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" placeholder="Email">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" placeholder="Phone">
    </mat-form-field>
  </form>

  <div class="button-row">
    <button mat-raised-button color="primary" (click)="applyFilter()">Apply Filter</button>
    <button mat-stroked-button color="warn" (click)="clearFilter()">Clear Filter</button>
  </div>
  <div class="d-flex justify-content-end">
    <button mat-raised-button color="accent" routerLink="/create">Add New Card</button>
  </div>
  <div class="table-container">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef> Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
      </ng-container>

      <ng-container matColumnDef="dateofBirth">
        <th mat-header-cell *matHeaderCellDef> Date of Birth </th>
        <td mat-cell *matCellDef="let element"> {{element.dateofBirth | date}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef> Phone </th>
        <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
      </ng-container>

      <ng-container matColumnDef="photo">
        <th mat-header-cell *matHeaderCellDef> Photo </th>
        <td mat-cell *matCellDef="let element">
          <img [src]="element.photo" alt="Photo" width="50" height="50" *ngIf="element.photo; else noPhoto">
          <ng-template #noPhoto>No Photo</ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="exportToXML(element.id)" matTooltip="Export to XML">
            <mat-icon>cloud_download</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="exportToCSV(element.id)" matTooltip="Export to CSV">
            <mat-icon>cloud_download</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="delete(element.id)" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <mat-paginator 
    [pageSize]="filter.pageSize"
    [length]="totalRecord"
    [pageIndex]="filter.pageIndex"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChange($event)"
    showFirstLastButtons>
  </mat-paginator>
</div>