<div class="layout admin" [ngClass]="{ 'change': sidebarOpen }">
  <header class="header col-lg-12">
    <div class="col-lg-12 d-flex justify-content-between header_container">
      <div class="header_left">
        <div class="login_person d-flex gap-4" (click)="openLogout()">
          <div class="person_name">
            <span>{{getUserName()}}</span>
            <span>{{getPositionName()}}</span>
          </div>
          <div class="person_img">
            <img src="../../assets/img/person-icon.svg" alt="" class="" />
          </div>
        </div>
        <div *ngIf="isLogoutVisible" class="logout-div"(click)="logout()">
          {{'logout' | translate}}
        </div>
        <div class="d-flex gap-3 align-items-center">
          <img [src]="currentImage" (click)=toggleImage() alt="" class="flag" />
          <img src="../../assets/img/hilal.svg" alt="" class="hilal" />

          <ap-notification/>

        </div>
      </div>

      <div class="header_right">
        <div class="position-relative">
          <input type="search" placeholder="{{'Search' |translate}}" class="search_header" />
          <img src="../../assets/img/searchIcon.svg" alt="" class="search_icon" />
        </div>

        <main class="col ps-md-2 pt-2" (click)="toggleSidebar()">
          <a  data-bs-target="#sidebar" data-bs-toggle="collapse"
            class="border rounded-3 p-1 text-decoration-none">
            <img src="../../assets/img/hamburger-icon.svg" alt="" />
          </a>

        </main>
      </div>
    </div>
    <!-- <div class="col-lg-12 d-flex justify-content-between breadcrumb_container">
      <div class="ap-breadcrumb">
        <span>الرئيسية</span>
        <img src="../../assets/img/items_arrow.svg" alt="" />
        <span>{{ getPageName() }}</span>
      </div>
      <div class="page_name">
        <span>{{ getPageName() }}</span>
      </div>
    </div> -->
<!-- <ap-breadcrumb></ap-breadcrumb> -->
  </header>
  <div class="container-fluid">
    <div class="row flex-nowrap">
      <div class="col-auto px-0 sidebar_container" *ngIf="sidebarOpen" [class.show]="isSidebarVisible">
        <div id="sidebar" class="collapse collapse-horizontal show border-end">
          <div class="w-100 mt-3 mb-4 text-center">
            <img src="../../assets/img/Etizaz_logo.svg" alt="" />
          </div>
 
          <div id="sidebar-nav" class="list-group border-0 rounded-0 text-sm-start min-vh-100">
            <!-- <a routerLink="/dashboard/index" class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar">
              <div class="d-flex gap-2 align-items-baseline">
                <img src="../../assets/img/house-window.svg" alt="" />
                <span>{{ "Dashboard" | translate }}</span>
              </div>
              <div class="items_arrow">
                <img src="../../assets/img/items_arrow.svg" alt="" />
              </div>
            </a> -->
            <a routerLink="app/orders"  class="list-group-item border-end-0 d-inline-block text-truncate" data-bs-parent="#sidebar">
              <div class="d-flex gap-2 align-items-baseline">
                <img src="../../assets/img/handshake (5).svg" alt="" />
                <span>{{ "orders" | translate }} </span>
              </div>
              <div class="items_arrow">
                <img src="../../assets/img/items_arrow.svg" alt="" />
              </div>
            </a>
        </div>
      </div>
 
    </div>
  </div>
     <main class="main_container">
    <!-- <ap-breadcrumb/> -->
    <router-outlet (activate)="onActive()"></router-outlet>
  </main>
</div>
<lib-toastify-toast-container position="bottom-right"></lib-toastify-toast-container>
