<div class="modal-overlay">
  <div class="drag-drop-form-container">
    <h3>Drag and Drop Import</h3>
    <div class="drag-drop-area">
      <label for="fileDrop">Drag and drop CSV/XML/Qr Code file here, or click to select file</label>
      <input #fileInput id="fileDrop" type="file" (change)="onFileDrop($event)" accept=".csv,.xml,.jpg,.jpeg,.png,.gif">
    </div>

    <span *ngIf="selectedFileName" class="file-name">Selected File: {{ selectedFileName }}</span>

    <span *ngIf="fileError" class="error-message">{{ fileError }}</span>

    <div class="button-group">
      <button mat-raised-button color="primary" (click)="onSubmitDragDrop()">Upload</button>
      <button mat-raised-button color="warn" (click)="closeModal()">Cancel</button>
    </div>
  </div>
</div>
