<div class="" id="exampleModalLabel" tabindex="-1" aria-labelledby="SuccessModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered m-0">
      <div class="modal-content p-0 border-0">
        <div class="close_icon align-self-end">
            <img src="../../assets/img/Close Icon  1.svg" alt="">
        </div>
        <div class="modal_img mb-3 align-self-center">
            <img src="../../assets/img/cross-circle (4).png" alt="">
        </div>
        <div class="modal-body d-flex flex-column gap-3 align-items-center">
            <span>Are you sure to delete?</span>
        </div>
        <div class="modal-footer border-0 align-self-center">
          <button type="button" class="btn btn-primary btn_save" style="min-width: 100px;" (click)="confirm()" >Confirm</button>
          <button type="button" class="btn btn-primary btn_cancel" (click)="dismiss()">Cancel</button>
        </div>
      </div>
    </div>
</div>
 